*, *::before, *::after {
   box-sizing: border-box; 
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    background-color: #F1F1F1;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    z-index: 10;
    max-width: 700px;
    width: 70vw;


}

.popup.active {
    transform: translate(-50%, -50%) scale(1);

}


.popup-header {
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    
    background-color: #00008B;
    color: #fff;

}

.popup-title {
    font-size: 1.25rem;
}

.popup-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    color: #fff;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.label {
    margin: 30px 0 10px;
    font-size: 1.3rem;
}
.input {
    width: 70%;
    height: 2rem;
    margin-top: 10px;
    
}

#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .6);
    pointer-events: none;
    transition: 200ms ease-in-out;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}